$bg-color: #F8F8F8;
$border: #E1E1E1;
$border-dark: #D8D8D8;
$black: #232335;
$green: #33B18B;
$green-hover: #289877;
$green-disabled: #78CAB1;
$white: #FFFFFF;
$gray: #909090;
$green-border: #C0E6DA;
$green-bg: #EBF4F1;
$gray-disabled: #F2F2F2;

// grid
$gutter-width: 30px;
$half-gutter-width: 15px;
$sm-max: 540px;
$md-max: 720px;
$lg-max: 960px;
$xl-max: 1290px;
$xs-breakpoint: 0;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1360px;

// if min-width

$min-sm-breakpoint: 577px;
$min-md-breakpoint: 769px;
$min-lg-breakpoint: 993px;
$min-xl-breakpoint: 1201px;
$min-xxl-breakpoint: 1361px;