@import "../../styles/variables";
@import "../../styles/mixins";

.form {
  background-color: $white;
  border-radius: 20px;
  box-shadow: 8px 8px 36px 1px rgba(0, 0, 0, 0.06);
  padding: 36px 32px 80px;
}

.title {
  margin-top: 0;
  margin-bottom: 25px;
}

.centered {
  display: flex;
  align-items: center;
}

.radioBlock {
  max-width: 214px;
}

.yearSelect {
  max-width: 214px;
}
.total {
  color: $gray;
  font-size: 14px;
}

.token {
  text-transform: uppercase;
}

.formButtons {
  display: flex;
}

.formButton {
  margin-right: 30px;
  &:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: $lg-breakpoint) {
  .form {
    padding: 16px 14px;
  }
  .title {
    font-size: 22px;
    letter-spacing: 0.05em;
  }
}

@media (max-width: $md-breakpoint) {
  .formButton {
    max-width: 100%;
    flex-grow: 1;
  }
}

@media (max-width: $sm-breakpoint) {
  .inputMobile {
    margin-bottom: 16px;
  }

  .yearSelect {
    max-width: 184px;
  }

  .radioBlock {
    max-width: 100%;
    justify-content: space-between;
  }

  .formButtons {
    flex-direction: column;
  }

  .formButton {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
